.section {
  padding: 8rem 0;
  background-color: var(--background);
}
.header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 0 auto;
}
.headline {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.bodyCopy {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--foreground-muted);
}
